## Dependancies

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

## Import Clean Datasets

In [2]:
very_products_df = pd.read_csv("../Clean_Datasets/All_Very_Products.csv")
currys_products_df = pd.read_csv("../Clean_Datasets/All_Currys_Products.csv")

In [3]:
# View datasets

#### Very Products

In [4]:
very_products_df

,product_name,category,price,customer_rating,rating_count
0,"HISENSE 55A7GQTUK 55"" Smart 4K Ultra HD HDR QL...",TV,449.0,4.6,115.0
1,"LG OLED83C14LA 83"" Smart 4K Ultra HD HDR OLED ...",TV,3999.0,4.8,284.0
2,"LG OLED65C14LB 65"" Smart 4K Ultra HD HDR OLED ...",TV,1399.0,4.8,445.0
3,"LG OLED55A16LA 55"" Smart 4K Ultra HD HDR OLED ...",TV,719.0,4.8,197.0
4,"HISENSE 50A6GTUK 50"" Smart 4K Ultra HD HDR LED...",TV,279.0,4.5,77.0
...,...,...,...,...,...
270,SAMSUNG Series 5 DV90TA040AX/EU 9 kg Heat Pump...,Tumble Dryers,699.0,3.7,9.0
271,SAMSUNG Series 5 DV80TA020AX/EU 8 kg Heat Pump...,Tumble Dryers,719.0,5.0,8.0
272,HOTPOINT H2 D81W UK 8 kg Condenser Tumble Drye...,Tumble Dryers,289.0,4.8,8.0
273,SAMSUNG Series 5 DV90TA040AE/EU 9 kg Heat Pump...,Tumble Dryers,649.0,4.2,12.0
274,HOTPOINT H3 D81WB UK 8 kg Condenser Tumble Dry...,Tumble Dryers,359.0,4.4,5.0

#### Currys Products

In [5]:
currys_products_df

,product_name,category,price,customer_rating,rating_count
0,"SAMSUNG QE50QN94AATXXU 50"" Smart 4K Ultra HD H...",TV,799.00,4.45,172.0
1,"SAMSUNG QE65QN95AATXXU 65"" Smart 4K Ultra HD H...",TV,1499.00,4.45,142.0
2,"LG OLED42C24LA 42"" Smart 4K Ultra HD HDR OLED ...",TV,1299.00,NaN,0.0
3,"SAMSUNG QE55QN700ATXXU 55"" Smart 8K HDR Neo QL...",TV,1199.00,4.05,12.0
4,"SAMSUNG The Frame QE43LS03AAUXXU 43"" Smart 4K ...",TV,699.00,4.30,128.0
...,...,...,...,...,...
5132,FRESH N REBEL Rockbox Bold XS Portable Bluetoo...,TV,38.99,4.00,1.0
5133,FLEXSON FLXS1FS2011EU SONOS One Floorstand Fix...,Phones,89.00,4.65,3.0
5134,FLEXSON S1-SPC Sonos Speaker Power Adapter - B...,Phones,9.99,NaN,0.0
5135,AUDIO PRO D-1 Wireless Multi-room Speaker - Black,Phones,350.00,NaN,0.0
5136,FLEXSON FLXSMWM1022 Sonos Move Wall Mount Fixe...,Phones,19.99,NaN,0.0

## Create Database Connection

In [31]:
from config import password_one
from config import password_two

In [35]:
connection_string = (f'postgres:{password_two}@localhost:5432/products_db')
engine = create_engine(f'postgresql://{connection_string}')

In [36]:
# Confirm tables
engine.table_names()

/Users/missshola/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['very_products', 'currys_products']

## Load DataFrames into database

In [8]:
very_products_df.to_sql(name='very', con=engine, if_exists='append', index=True)

In [9]:
currys_products_df.to_sql(name='currys', con=engine, if_exists='append', index=True)