# Import Dependancy

In [1]:
import pandas as pd

# Load Clean Datasets

In [2]:
Currys=pd.read_csv("../Clean_Datasets/All_Currys_Products.csv")
Very=pd.read_csv("../Clean_Datasets/All_Very_Products.csv")

In [3]:
# View Currys Dataset

Currys

,product_name,category,price,customer_rating,rating_count
0,"SAMSUNG QE50QN94AATXXU 50"" Smart 4K Ultra HD H...",TV,799.00,4.45,172.0
1,"SAMSUNG QE65QN95AATXXU 65"" Smart 4K Ultra HD H...",TV,1499.00,4.45,142.0
2,"LG OLED42C24LA 42"" Smart 4K Ultra HD HDR OLED ...",TV,1299.00,NaN,0.0
3,"SAMSUNG QE55QN700ATXXU 55"" Smart 8K HDR Neo QL...",TV,1199.00,4.05,12.0
4,"SAMSUNG The Frame QE43LS03AAUXXU 43"" Smart 4K ...",TV,699.00,4.30,128.0
...,...,...,...,...,...
5132,FRESH N REBEL Rockbox Bold XS Portable Bluetoo...,TV,38.99,4.00,1.0
5133,FLEXSON FLXS1FS2011EU SONOS One Floorstand Fix...,Phones,89.00,4.65,3.0
5134,FLEXSON S1-SPC Sonos Speaker Power Adapter - B...,Phones,9.99,NaN,0.0
5135,AUDIO PRO D-1 Wireless Multi-room Speaker - Black,Phones,350.00,NaN,0.0
5136,FLEXSON FLXSMWM1022 Sonos Move Wall Mount Fixe...,Phones,19.99,NaN,0.0

# Merge Datasets

In [5]:
# Join both datasets

Merged=pd.merge(Currys, Very, how='inner', left_on = 'product_name', right_on = 'product_name')

In [6]:
Merged.rename(columns={'category_x':'Category', 'price_x':"Curry_Price", 'customer_rating_x':"Curry_Rating",
       'rating_count_x':"Curry_Rating_Count", 'price_y':"Very_Price", 'customer_rating_y':"Very_Rating",
       'rating_count_y':"Very_Rating_Count"},inplace=True)
del Merged["category_y"]


Merged["Price_Difference"]=((Merged["Curry_Price"]-Merged["Very_Price"])/Merged["Curry_Price"])*100
Merged["Rating_Difference"]=((Merged["Curry_Rating"]-Merged["Very_Rating"])/5)*100

In [7]:
# View merged dataset

Merged

,product_name,Category,Curry_Price,Curry_Rating,Curry_Rating_Count,Very_Price,Very_Rating,Very_Rating_Count,Price_Difference,Rating_Difference
0,"LG OLED83C14LA 83"" Smart 4K Ultra HD HDR OLED ...",TV,3999.00,5.00,1.0,3999.0,4.8,284.0,0.000000,4.0
1,"LG OLED65C14LB 65"" Smart 4K Ultra HD HDR OLED ...",TV,1349.00,4.70,159.0,1399.0,4.8,445.0,-3.706449,-2.0
2,"LG OLED55A16LA 55"" Smart 4K Ultra HD HDR OLED ...",TV,719.00,4.55,250.0,719.0,4.8,197.0,0.000000,-5.0
3,"HISENSE 50A6GTUK 50"" Smart 4K Ultra HD HDR LED...",TV,279.00,4.50,170.0,279.0,4.5,77.0,0.000000,0.0
4,"HISENSE 43A6GTUK 43"" Smart 4K Ultra HD HDR LED...",TV,229.00,4.40,176.0,229.0,4.5,75.0,0.000000,-2.0
...,...,...,...,...,...,...,...,...,...,...
272,SAMSUNG Series 5 DV90TA040AX/EU 9 kg Heat Pump...,TV,699.99,4.40,162.0,699.0,3.7,9.0,0.141431,14.0
273,SAMSUNG Series 5 DV80TA020AX/EU 8 kg Heat Pump...,TV,649.99,4.65,320.0,719.0,5.0,8.0,-10.617086,-7.0
274,HOTPOINT H2 D81W UK 8 kg Condenser Tumble Drye...,TV,289.99,4.45,462.0,289.0,4.8,8.0,0.341391,-7.0
275,SAMSUNG Series 5 DV90TA040AE/EU 9 kg Heat Pump...,TV,679.99,4.40,162.0,649.0,4.2,12.0,4.557420,4.0
276,HOTPOINT H3 D81WB UK 8 kg Condenser Tumble Dry...,TV,309.99,4.40,61.0,359.0,4.4,5.0,-15.810187,0.0

# Analysis of Merged Data

In [8]:
Merged["Rating_Difference"]=((Merged["Curry_Rating"]-Merged["Very_Rating"])/5)*100

In [9]:
# Average price difference

Merged["Price_Difference"].mean()

-11.505637570411363

In [10]:
# Average customer ratings difference

Merged["Rating_Difference"].mean()

0.7163120567375887

In [11]:
Filtered=Merged.loc[Merged["Curry_Rating_Count"]>=50]
Filtered=Filtered.loc[Filtered["Very_Rating_Count"]>=50]

In [12]:
Filtered["Rating_Difference"].mean()

-0.2708333333333338

In [13]:
# Save merged and filtered datasets to CSV

Merged.to_csv("Merged.csv")
Filtered.to_csv("Filtered.csv")